[mcu H36_combo]
canbus_uuid=7f00393e8e72

[extruder]
step_pin: H36_combo:PB9 
dir_pin: H36_combo:PB8
enable_pin: !H36_combo:PB7
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: H36_combo: PA7 
pullup_resistor: 2200
sensor_type: Generic 3950
sensor_pin: H36_combo:PA6 
min_temp: -273.15 #1 #-273.15 
max_temp: 360 #360 
max_power: 1.0
min_extrude_temp: -273
pressure_advance: 0.02
max_extrude_cross_section: 5000.0

[tmc2209 extruder]
uart_pin: H36_combo:PC14
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
#diag_pin: H36_combo:PC15

#####################################################################
# FANS
#####################################################################

# Part Cooling Fan
[fan_generic fan0]
pin: H36_combo:PA9
max_power:1.0
shutdown_speed:0.0
cycle_time:0.5
hardware_pwm:false
kick_start_time:0.10
off_below:0.1

# Hotend Fan
[heater_fan hotend_fan]
pin: H36_combo:PB15
max_power:1.0
shutdown_speed:0.0
cycle_time:0.5
hardware_pwm:false
kick_start_time:0.10
heater: extruder
heater_temp: 50.0


#####################################################################
#	Mcu & Driver Temperature
#####################################################################

[temperature_sensor H36_Temp]
sensor_type: temperature_mcu
sensor_mcu: H36_combo
min_temp: 0
max_temp: 150

[temperature_sensor H36_Stepper_Temp]
sensor_type: Generic 3950
sensor_pin: H36_combo: PA3
min_temp:0
max_temp:150
