[include mainsail.cfg]
[include cartographer.cfg]
[include h36.cfg]

[mcu]
canbus_uuid=5d8e5c4fd5e7

[virtual_sdcard]
path: /home/trans/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

[idle_timeout]
timeout: 1800

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_z_velocity: 10
max_z_accel: 30

######################################################################
# X Motor
######################################################################

[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: ^PC4
position_min: 0
position_endstop: 235
position_max: 235
homing_speed: 125
homing_retract_dist: 5
homing_positive_dir: true

######################################################################
# Y Motor
######################################################################

[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: ^PB0
position_min: 0
position_endstop: 235
position_max: 235
homing_speed: 125
homing_retract_dist: 5
homing_positive_dir: true

######################################################################
# Z Motors
# Manta E3EZ:
#   Z  -> stepper_z
#   E0 -> stepper_z1
#   E1 -> stepper_z2
#####################################################################

[stepper_z]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
endstop_pin: probe:z_virtual_endstop
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
homing_speed: 8.0
second_homing_speed: 3
homing_retract_dist: 0
position_max: 150
position_min: -5


[stepper_z1]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PB3
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200


[stepper_z2]
step_pin: PB7
dir_pin: PB6
enable_pin: !PB4
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200


#####################################################################
# TMC2209
#####################################################################

[tmc2209 stepper_x]
uart_pin: PB8
run_current: 0.50
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False

[tmc2209 stepper_y]
uart_pin: PC9
run_current: 0.50
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.37
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False

[tmc2209 stepper_z1]
uart_pin: PD1
run_current: 0.37
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False

[tmc2209 stepper_z2]
uart_pin: PB5
run_current: 0.37
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False

#####################################################################
# Pid Stuff
#####################################################################

[extruder]
control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721

#####################################################################
# Temps and Fans
#####################################################################

[temperature_sensor host_soc]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor manta_mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_fan soc_fan]
pin: PA8
sensor_type: temperature_host
target_temp: 50.0
max_temp: 80.0
min_temp: 0
control: watermark
max_speed: 1.0
min_speed: 0.35
shutdown_speed: 1.0
kick_start_time: 0.5
off_below: 0.10

[controller_fan stepper_fan]
pin: PB15
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
fan_speed: 1.0
idle_timeout: 60
idle_speed: 0.0
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2
heater: