#####################################################################
##                            Bed Leveling and Calibration Macros
#####################################################################

[gcode_macro Z_TILT_ADJUST]     # IDM/Cartographer optimized 3Z leveling macro
rename_existing: _Z_TILT_ADJUST
gcode:
    SAVE_GCODE_STATE NAME=STATE_Z_TILT         # Save current state for Z tilt adjustment
    BED_MESH_CLEAR                             # Clear bed mesh
    {% if not printer.z_tilt.applied %}
      _Z_TILT_ADJUST horizontal_move_z=10 retry_tolerance=1   # Adjust Z tilt with higher tolerance initially
    {% endif %}
    _Z_TILT_ADJUST horizontal_move_z=2          # Fine-tune Z tilt adjustment
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT       # Restore saved state after adjustment


####################################################################################
##                              Tango Time!
####################################################################################
[gcode_macro TANGO_TIME]
description: Level the bed and find z offset
gcode:
    SET_DISPLAY_TEXT MSG="Cleaning Nozzle..."              # Display nozzle cleaning message
    NOZZLE_WIPE

    SET_DISPLAY_TEXT MSG="Leveling..."                     # Display leveling message
    Z_TILT_ADJUST
    G28 Z

    SET_DISPLAY_TEXT MSG="Calibrating Z Offset"            # Display Z offset calibration message
    CARTOGRAPHER_TOUCH_HOME                                # Calibrate Z offset

    SET_DISPLAY_TEXT MSG="Bed Mesh Calibration..."         # Display mesh calibration message
    BED_MESH_CALIBRATE ADAPTIVE=1                          # Perform bed mesh calibration